body{
    background-image: url(../image/fondo.jpg);
    
    background-size: 100% 100%;

}
h1, h2, h3{
    color: rgb(223, 180, 10);
}

#secCompras{
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
}

form {
    background-color: burlywood;
    height: 100%;
    width: 100%;
}

table {
    background-color: darkkhaki;
    text-decoration-color: blue;
}

li {
    font-size: 25px;
    font-weight: 2px;
}